@import '../../../styles/ThemeStyles.scss';


.button {
    display:flex;
    align-items: center;
    justify-content: center;
    width:155px;
    height:50px;
    border: 2px solid #BAD;
    box-sizing: border-box;
    border-radius: 30px;
    font-size:1em;
    color:#FAD;
    font-family: $niramit;
}