.button {
    background-color:"white";
    width:155px;
    height:50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    font-size:1em;
    color:green;
    font-family: sans-serif;
}