@import '../../../styles/ThemeStyles.scss';

.notesCont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    // background-color: pink;
    height: 80%;
    width: 100%;
    margin-top: 15%;
}

.notesTitle {
    background-color: transparent;
    border: none;
    font-family: $niramit;
    font-size: 18pt;
    font-weight: bold;
    padding: 15px;
    padding-bottom: 0;
    width: 90%;
}
.notes {
    background-color: $cream;
    font-family: $niramit;
    width:280.5px;
    height:317.5px;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notes-text {
    padding: 15px;
}

.notesInput{
    background-color: $cream;
    border-width: 0;
    width: 100%;
    outline: none;

    




}
