@import '../../../styles/ThemeStyles.scss';


.notes {
    background-color: $cream;
    font-family: $niramit;
    width:240px;
    height:280px;
    padding-left:10px;
    border-radius: 10px;

}
.notes-text {
    padding-top:10px;
}

.notesInput{
    background-color: $cream;
    border-width: 0;
    width: 100%;
    outline: none;




}
