@import '../../../styles/ThemeStyles.scss';


.notes {
    background-color: $cream;
    font-family: $niramit;
    width:225px;
    height:375px;
    padding-left:10px;
}
.notes-text {
    padding-top:10px;
}
