@import '../../../styles/ThemeStyles.scss';

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    line-height: 2;
    font-family:$niramit;
    color:white; 
    background-color: $green;
    height: 100vh;
    flex-direction: column;
    border-radius: 0px 15px 15px 0; 
    margin: 0;
    width: 300px;

}

.cog {
    position: absolute;
    bottom: 1.8vh;
    left: 1.8vh;
    width: 2.7vw;
}

.t-div {
position: absolute;
top: 8vh;
}

.menu-body {
    display: flex;
    margin: 0;
}

.body-body {
    display: flex;
    justify-content: center;
}
