@import '../../../styles/ThemeStyles.scss';


#item_count {
    display:flex;
    flex-direction: column;
    border-radius: 0px 15px 15px 0px;
    height: 50vh;
    width: 15vw;
    background-color: #68B2A0;
    justify-content:space-around;
    align-items: center;
    font-size:1.5rem;
    font-family:$niramit;
    color:white;
    
}
