@import '../../../styles/ThemeStyles.scss';

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    line-height: 2;
    font-family:$niramit;
    color:white; 
    height: 100vh;
    flex-direction: column;


}

.menu-logo{
    // height: 200px;
    // width: 00px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.menu-cog {
    position: absolute;
    bottom: 1.8vh;
    left: 1.8vh;
    width: 30px
}



.menu-body {
    display: flex;
    background-color: $green;
    border-radius: 0px 15px 15px 0; 
    width: 100%;
    justify-content: center;


}

