@import '../../styles/ThemeStyles.scss';

.PerformanceButs{
    display: flex;
    margin-top: 70px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    // background-color: pink;
    width: 50%;
}
.PerformancePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    // background-color: lightsteelblue;
    width: 90%;
    height: 100%;
}

.performancePanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: $niramit;
    // background-color: yellow;
}

.performancePanel > * {
    margin-bottom: 10px;
}