@import '../../styles//ThemeStyles.scss';

.UpgradeDiv{
    display: flex;
    flex-direction: row;
}

.UpgradeTab{
    background-color: #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 238px;
    height: 460px;
    font-family: $niramit;
    // padding: 10px;
    margin:1.3vw;
    overflow: hidden;

}

.UpgradeHeader-1{
    background: #68B2A0;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    font-size: 24px;
    color: white;
}
.UpgradeHeader-2{
    background: #F06666;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    font-size: 24px;
    color: white;


}
.UpgradeHeader-3{
    background: #7A4BFF;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    font-size: 24px;
    color: white;

}

.UpgradeTab-content{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin:0% 20%;
}
.UpgradeButton {
    position: absolute;
    margin-top:200px;
}

.UT-price{
    font-size: 48px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 51.5px;
    text-align: center;
}
.UT-price2{
    font-size: 60px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.UT-pricemonth{
    text-align: center;
    margin-bottom: 30px;
    margin-top: -30px;
    font-size: 15pt;
}