@import '../styles/ThemeStyles.scss';


.DashBody {
    height: 100vh;
    width: 100vw;
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    padding: 0px;
    display: flex;  /*enables flex content for its children*/
    justify-content: center;
}

.right-content {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
}

// .user {
//     position: absolute;
//     right: 20vw;
//     top: 20px;
// }


.dash-menu {
    flex: 1; 

}

.dash-header {
    position: absolute;
    top: 10vh;
}

.icons {
    position: absolute;
    width: 37px;
}


#menuLeft{
    flex: 1;
    // background-color: #DAD;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin-right:15px;
}

#menuRight{
    flex: 3;
}

.icons{
    width:37px;
    margin-top: 41vh;
    margin-bottom: 14px;
}

