@import '../../styles//ThemeStyles.scss';



.forums-posts > *{
    margin:30px

}

.forum-search{
    display: flex;
    align-items: center;
    background: #ECECEC;
    border-radius: 20.5px;
    width: 196px;
    height: 41px;
    }

