@import '../../../styles/ThemeStyles.scss';


.create-box {
    background-color: #F6F6F6;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    font-family: $niramit;
    margin: 10px;
}

.top {
    background-color: #BEDDEE;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}

.bot {
    height:30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}
