@import '../../../styles/ThemeStyles.scss';


.create-box {
    background-color: #F6F6F6;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    font-family: $niramit;
    margin: 10px;
}

.top {
    background-color: #BEDDEE;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}

.bot {
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pen{
    width:  70px;
    margin-bottom:30px;
    margin-top: -90px;
}

#ds{
    margin-bottom:30px;
}
