@import '../../../styles/ThemeStyles.scss';

.performanceTab{
    background-color: #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-family: $niramit;
    display: flex;
    flex-direction: column;
    // padding: 10px;
}

.performanceHeader {
    font-size: normal;
    // padding-top: 8px;
    padding-left: 18px;
    font-size: 22px;
    // background-color: lightyellow;
}

.performancePic{
    border-radius: 100px;
    width:106px;
    height:106px;
    // margin-left:10px;
    // margin-top: 25px;
    margin-left: 36px;
}

.performanceTab-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    // justify-content: center;
    // margin-top: -20px;
    line-height: 17pt;
    // background-color: pink;
    width: 100%;
}
.performanceTab-sub{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    // background-color: lightsalmon;
    width: 80%;
}

.pTab-1{
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
}
.pTab-3{
    margin-top: 8px;
    font-size: 20px;
}

.performanceDot{
    width: 22px;
height: 22px;
background: #B85353;
border-radius: 20px;
// position: absolute;
margin-left: 5px;
}
.performanceDotE{
    width: 22px;
height: 22px;
background: #C4C4C4;
border-radius: 20px;
// position: absolute;
margin-left: 5px;

}

.performanceDotDiv{
    display: flex;
    // background-color: lightblue;
    padding-top: 20px;
    // padding-right: 20px;
    justify-content: flex-end;
}

.readMore {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.performanceTop {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 30px;
}