@import '../../../styles/ThemeStyles.scss';

.ClassesTab{
    background-color: #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 327px;
    height: 191px;
    font-family: $niramit;
    // padding: 10px;
}

.ClassesTab-header{
    font-size: normal;
    padding-top: 8px;
    padding-left: 18px;
    font-size: 18px;
}