@import '../../styles//ThemeStyles.scss';

.sched-comp{
    height: 498px;
    width: 720px;
    background-color: #FFF;
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.sched-days{
    display: flex;
    flex-direction: row;

}

.sched-days-box {
    display: flex;
    width: 144px;
    height: 53px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    font-family: $niramit;
    font-size: 24px;
    line-height: 31px;
}

.sd1, .sd2, .sd3, .sd4, .sd5, .sd6{
    background-color: #EEEEEE;
}

.sched-box1{
    height: 445px;
    width: 1px;
    background-color: black;
    
}
.sched-box2{
    height: 445px;
    width: 1px;
    background-color: black;
    margin-left: 142.5px;
    z-index:1000;

}
.sched-box3{
    height: 445px;
    width: 1px;
    background-color: black;
    margin-left: 142.5px;
}
.sched-box4{
    height: 445px;
    width: 1px;
    background-color: black;
    margin-left: 143px;

}
.sched-box5{
    height: 445px;
    width: 1px;
    background-color: black;
    margin-left: 143px;

}
.sched-box6{
    height: 445px;
    width: 1px;
    background-color: black;
    margin-left: 142.5px;

}