@import '../../../styles/ThemeStyles.scss';

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    width: 250px;
    line-height: 0px;
    border-radius: 10px;
    font-family: $niramit;

}


.days{
    display: flex;
    flex-direction: row;

}

.days > * {
    padding: 10px;
}

