.menuitem:hover {
    background-color: #448C7A;
    border-radius: 0 50px 50px 0px;
}

.menuitem-body:last-child {
    color: gold;
}

.menuitem {
    width: 100%;


}

.menuitem-body {
    width: 100%;
}



